/* =========== */
/* FONT SETUP  */
/* =========== */




/* =========== */
/* BASE STYLES */
/* =========== */

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #FDFFF4;
}



/* ==================== */
/* HEADER/FOOTER STYLES */
/* ==================== */

.navbar {
  background: #225496;
  height: 8rem;
}

.header {
  display: flex;
  font-size: 24px;
  position: relative;
  margin: 0 auto 0;
  padding-top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;


}

.logoDiv {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  padding: .85em;
  color: #FDFFF4;
}

.otherLinks {
  display:flex;
  padding-top: 1.5em;
  padding-right: 1em;


}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  float: right;
  list-style-type: none;
  margin: 0;
  width: 50%;
}

.nav-link {
  background: none!important;
  color: #FDFFF4;
  border: none; 
  padding: 20px;
  font: inherit;
  text-decoration: none;
  padding-top: 100px;
}

ul li{
  list-style-type: none;
}

li a{
  text-decoration: none;
  color: #FCFFEB;
}

#map{
  height: 600px;
}


/* =========== */
/* FORM STYLES */
/* =========== */



/* ============*/
/* ABOUT STYLES*/
/* ============*/





/* ==============*/
/* PROFILE STYLES*/
/* ==============*/

.hiddenMap {
  display: none;
}
