{% extends "Final_Project/base.html" %}
{% block about %}
<div class='aboutPage'>
<p class='aboutParagraph'>Oftentimes people that are enthusiastic about fitness are also adventuress people that love to travel. A common dilemma many of these people face when traveling is the inability to find a suitable location to workout. GymFinder provides traveling fitness junkies the ability search for and find local gyms that have been vouched for by other fitness enthusiasts. This allows those travelers to rest assured that they can travel the world while still sticking to their fitness goals. </p>

<img class=heroImage src="../../static/css/heroimg2.png">
</div>
{% endblock %}