{% extends 'Final_Project/base.html' %}
​
{% block profile_view %}
<body>
<div class='hiddenMap' id="map"></div>
<div class ="profile_container">
  <div class="profile_header_info">
    <div class='picNameSubscribe'>
      <div class='profilePicAndInfo'>
      <div class='profilePicture'>
        <h1 class='userProfileName'>Hi, {{user}}</h1>
        <img class='profilePic' src='{{ user.profile.profile_pic.url }}' width="auto" height="250px" alt="">
        <h4 class="userProfileName">{{user.profile.bio}}</h4>
      </div>
      </div>
    </div>
  </div>
  <div class='profileLikes'>
    <h2 class='favoriteGymsTitle'>My Favorite Gyms:</h2>
    <div class='profileContainer'>

      {% for like in likes_list %}
      <section class="likeCard" data-id={{like.id}}>
      <h4 class='likeId' data-id={{like.id}}>{{like.name}}</h4>
      <h4>{{like.phone}}</h4>
      <h4><a class=userId data-id='{{request.user.id}}' href="{{like.website}}">{{like.website}}</a></h4>
      
      <div class='deleteButtonSection'>
       
    </div>
    </section>
      {% endfor %}
  </div>
</div>  
</body>
{% endblock %}
