{% extends 'Final_Project/base.html' %}
​
{% block profile_view %}
<body>
<div class ="profile_container">
  <div class="profile_header_info">
    <div class='picNameSubscribe'>
      <div class='profilePicAndInfo'>
      <div class='profilePicture'>
        <img class='profilePic' src='{{ user.profile.profile_pic.url }}' width="auto" height="250px" alt="">
      </div>
      </div>
    </div>
  </div>
  <div class='profileLikes'>
    <h2>My Gyms</h2>
    <div class='profileVideoContainer'>
      {% for like in likes_list %}
      <h4>{{like.name}}</h4>
      <h4>{{like.phone}}</h4>
      <h4><a href="{{like.website}}">{{like.website}}</a></h4>
      {% endfor %}
  </div>
</div>  
</body>
{% endblock %}
